<h1 class="page-header">True Social Platform | New User</h1>
<div ng-controller="newUserController">
    <p>Thank you for registering in the application. Please, provide your user name:</p>
    <form name="newUserForm" ng-submit="submit()" novalidate>
        <input type="text" name="username" id="username" style="text-align: center" ng-model="username" required>
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">
    </form>
    <div class="alert alert-danger" ng-show="error">
        <i class="fa fa-exclamation-triangle"></i>
        <p>{{error}}</p>
    </div>
</div>
