<h1 class="page-header">True Social Platform | Panel</h1>
<div ng-controller="userController">
    <ul class="nav nav-tabs nav-fill panel-menu" role="tablist">
        <li class="nav-item">
            <a href="#home" target="_self" data-toggle="tab" class="nav-link active" role="tab">
                <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item preventable">
            <a href="#newPost" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-plus"></i> Add post</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myPosts" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-files-o"></i> Posts</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myComments" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-comments"></i> Comments</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active show" role="tabpanel">
            <p>{{welcomeMessage}}</p>
        </div>

        <div id="newPost" class="tab-pane fade" role="tabpanel">
            <p>test 2</p>
        </div>

        <div id="myPosts" class="tab-pane fade" role="tabpanel">
            <p>test 3</p>
        </div>

        <div id="myComments" class="tab-pane fade" role="tabpanel">
            <p>test 4</p>
        </div>
    </div>

</div>
