<h1 class="page-header">True Social Platform | Panel</h1>
<div>
    <ul class="nav nav-tabs nav-fill panel-menu" role="tablist">
        <li class="nav-item">
            <a href="#home" target="_self" data-toggle="tab" class="nav-link active" role="tab">
                <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item preventable">
            <a href="#newPost" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-plus"></i> Add post</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myPosts" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-files-o"></i> Posts</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myComments" target="_self" data-toggle="tab" class="nav-link" role="tab">
                <i class="fa fa-comments"></i> Comments</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active show" role="tabpanel">
            <p>{{welcomeMessage}}</p>
        </div>

        <div id="newPost" class="tab-pane fade" role="tabpanel">
            <div class="row">
                <form name="newPostForm" class="col-sm-6 offset-sm-3" ng-submit="newPostSubmit()">
                    <div class="form-group row">
                        <label for="postTitle" class="col-sm-2 col-form-label">Title</label>
                        <input type="text" class="col-sm-10 form-control" id="postTitle" ng-model="newPost.title" required>
                    </div>
                    <div class="form-group row">
                        <label for="postCategory" class="col-sm-2 col-form-label">Category</label>
                        <input type="text" class="col-sm-10 form-control" id="postCategory" ng-model="newPost.category" required>
                    </div>
                    <div class="form-group row">
                        <label for="postContent" class="col-sm-2 col-form-label">Content</label>
                        <textarea class="col-sm-10 form-control" id="postContent" ng-model="newPost.content" required></textarea>
                    </div>
                    <div class="row pull-right">
                        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>

            <div class="alert alert-warning" ng-show="newPostError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{newPostError}}</p>
            </div>
            <div class="alert alert-success" ng-show="newPostSuccess">
                <i class="fa fa-info"></i>
                <p>{{newPostSuccess}}</p>
            </div>
        </div>

        <div id="myPosts" class="tab-pane fade" role="tabpanel" ng-init="getAllPosts()">
            <p>test 3</p>
        </div>

        <div id="myComments" class="tab-pane fade" role="tabpanel">
            <p>test 4</p>
        </div>
    </div>

</div>
