<h1 class="page-header">True Social Platform | Panel</h1>
<div>
    <!-- PANEL'S MENU -->
    <ul class="nav nav-tabs nav-fill panel-menu" role="tablist">
        <li class="nav-item">
            <a href="#home" target="_self" data-toggle="tab" class="nav-link active" role="tab">
                <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item preventable">
            <a href="#newPost" target="_self" data-toggle="tab" class="nav-link" role="tab" ng-click="clearAlerts()">
                <i class="fa fa-plus"></i> Add post</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myPosts" target="_self" data-toggle="tab" class="nav-link" role="tab" ng-click="getLatestPosts()">
                <i class="fa fa-files-o"></i> Posts</a>
        </li>
        <li class="nav-item preventable">
            <a href="#myComments" target="_self" data-toggle="tab" class="nav-link" role="tab" ng-click="getLatestComments()">
                <i class="fa fa-comments"></i> Comments</a>
        </li>
    </ul>

    <!-- CONTENT OF THE PANEL'S MENU ITEMS -->
    <div class="tab-content">

        <!-- "HOME" MENU ITEM -->
        <div id="home" class="tab-pane fade active show" role="tabpanel">
            <p>{{welcomeMessage}}</p>
            <button type="button" class="btn btn-danger" ng-click="deleteAccount()">Delete account</button>

            <div class="alert alert-danger" ng-show="deletingAccountError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{deletingAccountError}}</p>
            </div>

        </div>

        <!-- "ADD POST" MENU ITEM -->
        <div id="newPost" class="tab-pane fade" role="tabpanel">
            <form id="newPostForm" name="newPostForm" class="col-sm-6 offset-sm-3" ng-submit="newPostSubmit()">
                <div class="form-group row">
                    <label for="postTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postTitle" ng-model="newPost.title" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="postCategory" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postCategory" ng-model="newPost.category" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="postContent" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="postContent" ng-model="newPost.content" required></textarea>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary col-sm-2 offset-sm-10">
            </form>

            <div class="alert alert-danger" ng-show="newPostError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{newPostError}}</p>
            </div>
            <div class="alert alert-success" ng-show="newPostSuccess">
                <i class="fa fa-info"></i>
                <p>{{newPostSuccess}}</p>
            </div>
        </div>

        <!-- "POSTS" MENU ITEM -->
        <div id="myPosts" class="tab-pane fade" role="tabpanel">
            <div class="jumbotron post clearfix" ng-repeat="post in allPosts">
                <!-- DISPLAYING POST'S CONTENT AND ATTRIBUTES -->
                <div class="row">
                    <p class="col-sm-4 metadata">Author: {{post.authorUsername}}</p>
                    <p class="col-sm-4 metadata">Category: {{post.category}}</p>
                    <p class="col-sm-4 metadata">Created: {{post.creationTime | date : "dd.MM.yyyy; HH:mm"}}
                        <span ng-show="post.lastModificationTime">(modified: {{post.lastModificationTime | date : "dd.MM.yyyy; HH:mm"}})</span>
                    </p>
                </div>
                <p class="text-center"><strong>{{post.title}}</strong></p>
                <p class="text-justify" style="margin-bottom: 50px;">{{post.content}}</p>

                <!-- DISPLAYING COMMENTS TO THE POST -->
                <div>
                    <div class="comment" ng-repeat="comment in post.comments">
                        <div class="row">
                            <p class="col-sm-4 metadata">Author: {{comment.authorUsername}}</p>
                            <p class="col-sm-4 offset-sm-4 metadata">Created: {{comment.creationTime | date : "dd.MM.yyyy; HH:mm"}}
                                <span ng-show="comment.lastModificationTime">(modified: {{comment.lastModificationTime | date : "dd.MM.yyyy; HH:mm"}})</span></p>
                        </div>
                        <p class="text-justify" style="margin-left: 20px;">{{comment.content}}</p>
                    </div>
                </div>

                <div class="alert alert-danger" ng-show="post.postRelatedError">
                    <i class="fa fa-exclamation-triangle"></i>
                    <p>{{post.postRelatedError}}</p>
                </div>

                <!-- DISPLAYING MANAGEMENT BUTTONS -->
                <i class="fa fa-remove fa-2x jumbotron-icon remove" ng-click="deletePost(post)"></i>
                <i class="fa fa-edit fa-2x jumbotron-icon edit" ng-click="editPost(post)"></i>
                <i class="fa fa-commenting fa-2x jumbotron-icon show-comments" ng-click="getCommentsToPost(post)"
                   ng-show="!post.comments"></i>
                <i class="fa fa-ellipsis-h fa-2x jumbotron-icon get-more-comments" ng-click="getMoreCommentsToPost(post)"
                   ng-show="post.nextComments"></i>
            </div>

            <!-- DISPLAYING ALERTS -->
            <div class="alert alert-danger" ng-show="latestPostsError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{latestPostsError}}</p>
            </div>
            <div class="alert alert-danger" ng-show="commentsToPostError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{commentsToPostError}}</p>
            </div>

            <!-- "MORE POSTS" BUTTON -->
            <button type="button" class="btn btn-info" ng-click="getMorePosts()" ng-show="hasMorePosts">More posts</button>
        </div>

        <!-- "COMMENTS" MENU ITEM -->
        <div id="myComments" class="tab-pane fade" role="tabpanel">
            <div class="jumbotron clearfix" ng-repeat="comment in allComments">
                <!-- DISPLAYING COMMENT'S CONTENT AND ATTRIBUTES -->
                <div class="comment">
                    <div class="row">
                        <p class="col-sm-4 metadata">Author: {{comment.authorUsername}}</p>
                        <p class="col-sm-4 offset-sm-4 metadata">Created: {{comment.creationTime | date : "dd.MM.yyyy; HH:mm"}}
                            <span ng-show="comment.lastModificationTime">(modified: {{comment.lastModificationTime | date : "dd.MM.yyyy; HH:mm"}})</span></p>
                    </div>
                    <p class="text-justify" style="margin-left: 20px;">{{comment.content}}</p>
                </div>

                <!-- DISPLAYING MANAGEMENT BUTTONS -->
                <i class="fa fa-remove fa-2x jumbotron-icon remove" ng-click="deleteComment(comment)"></i>
                <i class="fa fa-edit fa-2x jumbotron-icon edit" ng-click="editComment(comment)"></i>
                <i class="fa fa-file-text fa-2x jumbotron-icon show-post" ng-click="getPostToComment(comment)"></i>

                <div class="alert alert-danger" ng-show="comment.commentRelatedError">
                    <i class="fa fa-exclamation-triangle"></i>
                    <p>{{comment.commentRelatedError}}</p>
                </div>
            </div>

            <!-- DISPLAYING ALERTS -->
            <div class="alert alert-danger" ng-show="latestCommentsError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{latestCommentsError}}</p>
            </div>
            <div class="alert alert-danger" ng-show="postToCommentError">
                <i class="fa fa-exclamation-triangle"></i>
                <p>{{postToCommentError}}</p>
            </div>

            <!-- "MORE COMMENTS" BUTTON -->
            <button type="button" class="btn btn-info" ng-click="getMoreComments()" ng-show="hasMoreComments">More comments</button>
        </div>
    </div>


    <!-- MODAL FOR POSTS EDITION -->
    <div class="modal fade" id="editPostModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit post</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="editPostForm" name="editPostForm" ng-submit="editPostSubmit()">
                        <div class="form-group row">
                            <label for="editedPostTitle" class="col-sm-3 offset-sm-1 col-form-label">Title</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="editedPostTitle" ng-model="editedPost.title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="editedPostCategory" class="col-sm-3 offset-sm-1 col-form-label">Category</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="editedPostCategory" ng-model="editedPost.category" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="editedPostContent" class="col-sm-3 offset-sm-1 col-form-label">Content</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" id="editedPostContent" ng-model="editedPost.content" required></textarea>
                            </div>
                        </div>
                        <input type="submit" name="submitEditedPost" id="submitEditedPost" value="Submit" class="btn btn-primary col-sm-3 offset-sm-7">
                    </form>

                    <div class="alert alert-danger" ng-show="editedPostError">
                        <i class="fa fa-exclamation-triangle"></i>
                        <p>{{editedPostError}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOR COMMENTS EDITION -->
    <div class="modal fade" id="editCommentModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit comment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="editCommentForm" name="editCommentForm" ng-submit="editCommentSubmit()">
                        <div class="form-group row">
                            <label for="editedCommentContent" class="col-sm-3 offset-sm-1 col-form-label">Content</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" id="editedCommentContent" ng-model="editedComment.content" required></textarea>
                            </div>
                        </div>
                        <input type="submit" name="submitEditedComment" id="submitEditedComment" value="Submit" class="btn btn-primary col-sm-3 offset-sm-7">
                    </form>

                    <div class="alert alert-danger" ng-show="editedCommentError">
                        <i class="fa fa-exclamation-triangle"></i>
                        <p>{{editedCommentError}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOR SHOWING POST TO COMMENT -->
    <div class="modal fade" id="postToCommentModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Post</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p class="metadata text-left">Author: {{postToCurrentComment.authorUsername}}</p>
                    <p class="metadata text-left">Category: {{postToCurrentComment.category}}</p>
                    <p class="metadata text-left">Created: {{postToCurrentComment.creationTime | date : "dd.MM.yyyy; HH:mm"}}
                        <span ng-show="postToCurrentComment.lastModificationTime">(modified: {{postToCurrentComment.lastModificationTime | date : "dd.MM.yyyy; HH:mm"}})</span></p>
                    <p class="text-center"><strong>{{postToCurrentComment.title}}</strong></p>
                    <p class="text-justify" style="margin-bottom: 50px;">{{postToCurrentComment.content}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
