body {
    padding-top: 5rem;
}

/** Navigation bar **/
.nav-item .fa-facebook-official:hover {
    color: #3b5998;
}

.nav-item .fa-github-square:hover {
    color: #6e5494;
}

.nav-item .fa-google-plus-square:hover {
    color: #d34836;
}

.nav-item a {
    cursor: pointer;
}

nav {
    font-size: 20px;
}


/** Main container **/

.centered-container {
    padding: 3rem 1.5rem;
    text-align: center;
}


/** Alerts **/

.alert {
    margin: 20px;
    font-size: 14px;
}

.alert * {
    display: inline;
}


/** User's panel submenu **/
.panel-menu .nav-link {
    color: #292b2c;
}

.tab-content > div {
    margin-top: 20px;
}


/** Posts **/
textarea {
    min-height: 100px;
}

.jumbotron.post {
    padding: 20px;
}

.jumbotron.post p.metadata {
    font-size: 12px;
}

.comment {
    border-left: 0.25em solid #8a8e91;
    margin-left: 20px;
}

.post-icon {
    padding: 20px;
    cursor: pointer;
}

.post-icon.remove-post:hover {
    color: #c9302c;
}

.post-icon.edit-post:hover {
    color: #ec971f;
}

.post-icon.show-comments:hover {
    color: #449d44;
}

.post-icon.get-more-comments:hover {
    color: #31b0d5;
}


/** Common templates **/
.page-header {
    margin-bottom: 50px;
}
